<div class="bg-yellow-400 flex flex-col-reverse md:flex-row h-screen">
  <div
    class="flex flex-col justify-center text-left p-4 items-center md:w-1/2 md:h-screen"
  >
    <section class="p-4">
      <span class="text-5xl"
        >Econtre todos seus Pokemons favoritos e monte seu deck!</span
      >
    </section>

    <section class="p-4">
      <span class="text-3xl"
        >Você pode saber o tipo de Pokémon, seus pontos fortes, desvantagens e
        habilidades e montar seus decks personalizados!</span
      >
    </section>

    <section class="p-4">
      <a
        routerLink="/pokemons"
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
        >Ver Pokemons</a
      >

      <a
        routerLink="/list-decks"
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
        >Meus decks</a
      >
    </section>
  </div>

  <div class="flex justify-center items-center md:w-1/2 md:h-screen">
    <img
      src="../../../assets/images/BannerComplete.svg"
      alt="Logo"
      class="w-full md:h-auto md:max-w-full lg:max-w-none"
    />
  </div>
</div>
