<div
  class="h-screen p-9"
  style="background-color: #f3f3f3f3; margin-bottom: 30px"
>
  <div class="flex items-center flex-col">
    <section class="p-9">
      <span class="text-3xl">800 Pokemons para sua escolha!</span>
    </section>

    <div class="relative w-full mb-5">
      <input
        type="text"
        class="w-full bg-gray-200 rounded-l-md rounded-r-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-gray-400"
        placeholder="Buscar pokémon..."
      />
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>

    <div>
      <igx-drop-down #countriesDropDown [height]="'400px'" [width]="'250px'">
        <igx-tree #igxTree selection="BiState">
          <!-- (nodeSelection)="onNodeSelection($event)" -->
          <!-- <igx-tree-node
            *ngFor="let country of countries"
            [data]="country"
            [expanded]="true"
            [selected]="true"
          >
            {{ country.Name }}
            <igx-tree-node *ngFor="let city of country.Cities" [data]="city">
              {{ city.Name }}
            </igx-tree-node>
          </igx-tree-node> -->
        </igx-tree>
      </igx-drop-down>
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <div
      *ngFor="let pokemon of allPokemons"
      class="transition-all duration-300 ease-in-out transform hover:scale-105 hover:cursor-pointer"
    >
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </div>

  <div class="mt-5 w-full flex items-center justify-center">
    <a
      routerLink="/pokemons"
      class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
      >Ver Mais</a
    >
  </div>
</div>
