<div class="bg-yellow-300 shadow-md py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/">
      <img src="../../../assets/images/Logo.svg" alt="Logo" class="h-10" />
    </a>
    <ul class="flex space-x-4">
      <li>
        <a
          (click)="navigate('home-page')"
          class="text-gray-800 hover:scale-105 hover:cursor-pointer"
          >Home</a
        >
      </li>

      <li>
        <a
          (click)="navigate('list-decks')"
          class="text-gray-800 hover:scale-105 hover:cursor-pointer"
          translate
          >home.myDecks</a
        >
      </li>

      <li>
        <a
          (click)="navigate('pokemons')"
          class="text-gray-800 hover:scale-105 hover:cursor-pointer"
          translate
          >home.seePokemons</a
        >
      </li>
    </ul>
  </div>
</div>
