<igx-card
  class="h-auto rounded-lg overflow-hidden"
  style="background-color: #f8f8f8"
>
  <igx-card-header
    class="flex items-center justify-between px-4 py-2 bg-gray-200"
  >
    <div class="text-black font-bold text-base">{{ pokemon.name }}</div>
    <button
      (click)="openModal()"
      class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded"
    >
      +
    </button>
  </igx-card-header>
  <igx-card-content class="px-4 py-2">
    <img [src]="pokemon.images?.large" alt="Pyroar" class="w-full" />
  </igx-card-content>
</igx-card>
