<div class="h-screen p-4">
  <igx-card
    class="h-auto w-auto rounded-lg overflow-hidden"
    style="background-color: #f8f8f8"
  >
    <igx-card-header
      class="flex items-center justify-between px-4 py-2 bg-gray-200"
    >
      <div class="text-black font-bold text-xl">Decks</div>
    </igx-card-header>
    <igx-card-content
      class="px-4 py-2 flex flex-col items-center justify-center"
    >
      <div class="text-center">
        <div *ngIf="decks.length == 0">
          <h2 class="text-2xl font-bold mb-4">Nenhum deck criado</h2>
          <p class="text-gray-600 mb-6">
            Você ainda não criou nenhum deck. Clique no botão abaixo para
            começar.
          </p>
        </div>

        <div>
          <h2 *ngIf="decks.length > 0" class="text-2xl font-bold mb-4">
            Meus Decks
          </h2>

          <button
            igxButton="flat"
            igxRipple
            class="igx-button--flat"
            (click)="createForm = true"
          >
            Criar Novo Deck
          </button>

          <div *ngIf="createForm" class="mt-6">
            <h3 class="text-xl font-bold mb-4">Criar Novo Deck</h3>
            <form [formGroup]="deckForm" (ngSubmit)="createDeck()">
              <div class="mb-4">
                <label for="name" class="block text-gray-700 font-bold mb-2">
                  Nome do Deck
                </label>
                <input
                  id="name"
                  type="text"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  formControlName="name"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="image" class="block text-gray-700 font-bold mb-2">
                  Imagem do Deck
                </label>
                <input
                  id="image"
                  type="file"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  (change)="onFileChange($event)"
                  required
                />
              </div>
              <button
                type="submit"
                igxButton="flat"
                igxRipple
                class="igx-button--flat"
                [disabled]="!deckForm.valid"
              >
                Escolher cartas
              </button>
            </form>
          </div>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-center"
          >
            <div
              *ngFor="let deck of decks"
              class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-105 hover:cursor-pointer"
            >
              <div (click)="selectedDeckModal(deck.id)">
                <a class="block">
                  <img
                    [src]="deck.image"
                    alt="{{ deck.name }}"
                    class="w-full h-full object-cover max-h-80 min-h-20"
                  />
                  <div>
                    <span>Cartas: {{ deck.cards.length }} / 60</span>
                  </div>

                  <div>
                    <igx-chip class="p-2"
                      >Cartas de Pokémon: {{ deck.pokemonsCard }}</igx-chip
                    >
                    <igx-chip class="p-2"
                      >Cartas de Treinador: {{ deck.trainerCard }}</igx-chip
                    >
                  </div>

                  <section class="colors-chip">
                    <igx-chip class="p-2"
                      >Cores no baralho:
                      <span
                        class="chip-content"
                        *ngFor="let color of deck.deckColors"
                        >{{ color }},
                      </span></igx-chip
                    >
                  </section>

                  <div class="p-2 flex justify-between items-center mt-2.5">
                    <div>
                      <ng-container *ngIf="!deck.isEditMode; else editMode">
                        <h4 class="text-base font-bold rm-mt">
                          {{ deck.name }}
                        </h4>
                      </ng-container>
                      <ng-template #editMode>
                        <input
                          type="text"
                          class="text-base font-bold rm-mt"
                          [(ngModel)]="deck.name"
                          (click)="$event.stopPropagation()"
                        />
                      </ng-template>
                    </div>

                    <!-- <h4 class="text-base font-bold rm-mt">{{ deck.name }}</h4> -->
                    <div class="flex space-x-2" *ngIf="!deck.isEditMode">
                      <igx-card
                        class="bg-white hover:bg-red-500 transition-colors transition-all duration-300 ease-in-out transform hover:scale-105 hover:cursor-pointer"
                        (click)="deleteDeck(deck.id); $event.stopPropagation()"
                      >
                        <img
                          class="h-8"
                          src="../../../assets/images/trash-outline.svg"
                          alt=""
                        />
                      </igx-card>

                      <igx-card
                        class="bg-white hover:bg-gray-400 transition-colors transition-all duration-300 ease-in-out transform hover:scale-105 hover:cursor-pointer"
                        (click)="
                          deck.isEditMode = !deck.isEditMode;
                          $event.stopPropagation()
                        "
                      >
                        <img
                          class="h-8"
                          src="../../../assets/images/create-outline.svg"
                          alt=""
                        />
                      </igx-card>
                    </div>

                    <div class="flex space-x-2" *ngIf="deck.isEditMode">
                      <button
                        igxButton="flat"
                        igxRipple
                        class="igx-button--flat"
                        (click)="
                          editDeck(deck.id, deck.name);
                          $event.stopPropagation();
                          deck.isEditMode = false
                        "
                      >
                        Salvar
                      </button>

                      <igx-card
                        class="bg-white hover:bg-gray-400 transition-colors transition-all duration-300 ease-in-out transform hover:scale-105 hover:cursor-pointer"
                        (click)="
                          deck.isEditMode = !deck.isEditMode;
                          $event.stopPropagation()
                        "
                      >
                        <img
                          class="h-8"
                          src="../../../assets/images/close-outline.svg"
                          alt=""
                        />
                      </igx-card>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </igx-card-content>
  </igx-card>
</div>
